@font-face {
  font-family: "RussoOne";
  src: local('Russo One'), local('Russo'), url('../fonts/RussoOne-Regular.ttf') format('truetype');
}
body{
	background-color:#000;
}
.board{
	width: 600px;
	height: 600px;
	overflow: hidden;
	margin: 120px auto 70px auto;
}
.square{
	width:198;
	height:198;
	float:left;
	border:1px solid #FFF;
}
#square7{
	border-left-color: #000;
	border-top-color: #000;
}
#square8{
	border-top-color: #000;
}
#square9{
	border-right-color: #000;
	border-top-color: #000;

}
#square4{
	border-left-color: #000;
}
#square5{

}
#square6{
	border-right-color: #000;
}
#square1{
	border-left-color: #000;
	border-bottom-color: #000;
}
#square2{
	border-bottom-color: #000;
}
#square3{
	border-right-color: #000;
	border-bottom-color: #000;
}
.squarebtn{
  	text-indent: -1000em;
  	width: 198px;
  	height: 198px;
  	margin: 0;
  	padding: 0;
  	border: 0;
  	background: transparent;
  	cursor: pointer;
}
.squarebtn:focus{
	outline: none;
}
.btn-pve{
	text-indent: -1000em;
	width:32px;
	height:40px;
	margin: 0;
  	padding: 0;
  	border: 0;
  	background-color: transparent;
    background-image: url('../images/pve.png');
	cursor: pointer;
	float:right;
}
.btn-pve:focus{
	outline: none;
}
.btn-pvp{
	text-indent: -1000em;
	width:45px;
	height:40px;
	margin-left: 30;
  	padding: 0;
  	border: 0;
	background-color: transparent;
    background-image: url('../images/pvp.png');
	cursor: pointer;
	float:right;
}
.btn-pvp:focus{
	outline: none;
}
.scoreboard{
	color:#FFF;
	width:600px;
	height:30;
	margin:0 auto 0 auto;
	font-family: 'RussoOne', sans-serif;
	font-weight: bold;
	font-size: 120%;
}	
.player1wins, .player2wins{
	float:left;
	margin-right:38px;
	margin-top:15px;
}
.computerwins{
	float:left;
	margin-right:38px;
	margin-top:15px;
}
.ties{
	float:left;
	margin-top:15px;
}
.btn-reset{
	text-indent: -1000em;
	width: 600px;
  	height: 600px;
  	margin: 0;
  	padding: 0;
  	border: 0;
  	background: transparent;
  	cursor: pointer;
  	float: left;
  	position: absolute;
}
.btn-reset:focus{
	outline: none;
}